# Ignore Python/Pyinstaller build files
__pycache__/
*.spec
temp/
build/
command.bat

# Ignore all engine and output files
engines/*
output/*

# Ignore CLOP files
*.clop
*.dat
*.log
CLOP_QuintTest_options.yaml

# Ignore files that should be kept while switching branches
share/*

# Don't ignore READMEs
!README.md
